options.txt
xaero/
texturepacks/
simplebackups/
shaderpacks/
server-resource-packs/
screenshots/
schematics/
saves/
resourcepacks/
patchouli_books/
logs/
local/
ESM/
downloads/
defaultconfigs/
crash-reports/
coremods/
blueprints/
.cache/
.mixin.out/
data/
*.jar
command_history.txt
emi.json
patchouli_data.json
usercache.json
usernamecache.json
icon.png
.connector/